a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

*,
*:before,
*:after {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: 400;
  line-height: 1.3; */
  height: 100%;
  box-sizing: border-box;
  font-family: "poppins" sans-serif;
  background: url("../../Assets/svg/Pattern-Randomized(1).svg");
  background-attachment: fixed;
}

header.header {
  position: fixed;
  width: 100%;
  padding: 15px 30px 17px;
  max-height: 70px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0.8))
  );
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header.header.fixedHeadTop {
  background: #fff;
}

header.header.fixedHeadTop .left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 50px;
  padding-left: 45px;
}

header.header.fixedHeadTop .left-header .img {
  position: relative;
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 50%;
  padding: -3px;
}

header.header.fixedHeadTop .left-header .img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

header.header.fixedHeadTop .left-header .text-logo {
  line-height: 1.08;
  font-size: 16px;
  padding-left: 9px;
}

header.header.fixedHeadTop .left-header .text-logo .title {
  color: #71102e;
  font-family: cursive;
  letter-spacing: 1px;
  font-weight: 900;
}

header.header.fixedHeadTop .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 10%;
}

header.header.fixedHeadTop .right-header ul.ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header.header.fixedHeadTop .right-header ul.ul .h-li {
  margin: 0 8px;
  padding: 4px 8px;
  border-radius: 20px;
  border: 0.1px solid #4a4a4a;
  font-size: 11px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: table-cell;
}

header.header.fixedHeadTop .right-header ul.ul .h-li.active {
  background-color: #71102e;
  color: #fff !important;
}

header.header.fixedHeadTop .right-header ul.ul .h-li.active a.links {
  font-weight: 900;
  color: #fff;
}

header.header.fixedHeadTop .right-header ul.ul .h-li:hover > {
  background-color: #71102e;
}

header.header.fixedHeadTop .right-header ul.ul .h-li:hover > a.links {
  color: #fff !important;
}

header.header.fixedHeadTop .right-header ul.ul .h-li a.links {
  color: #4c4c4c;
  font-weight: 730;
}

header.header.fixedHeadTop .right-header ul.ul .h-li a.links:hover {
  color: #fff;
}

header.header.fixedHeadTop .right-header ul.ul .h-li ul.drop-down {
  min-width: 50%;
  min-height: 300px;
  position: fixed;
  top: 70px;
  right: 5%;
  margin: 0px auto;
  background: #fafafa;
  background-image: url("../../Assets/bkg/bg-poly-white-1.jpg");
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
  border: none;
}

header.header.fixedHeadTop .right-header ul.ul .h-li ul.drop-down:before {
  display: inline-block !important;
  width: 20px;
  height: 20px;
  left: 239px;
  position: absolute;
  border: none;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0.8))
  );
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  top: -19px;
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  z-index: 11;
}

header.header .left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 50px;
  padding-left: 45px;
}

header.header .left-header .img {
  position: relative;
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 50%;
  padding: -3px;
}

header.header .left-header .img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

header.header .left-header .text-logo {
  line-height: 1.08;
  font-size: 16px;
  padding-left: 9px;
}

header.header .left-header .text-logo .title {
  color: #fff;
  font-family: cursive;
  letter-spacing: 1px;
  font-weight: 900;
}

header.header .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 10%;
}

header.header .right-header ul.ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

header.header .right-header ul.ul .h-li {
  margin: 0 8px;
  padding: 4px 8px;
  border-radius: 20px;
  border: 1.8px solid #fff;
  font-size: 11px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: table-cell;
  position: relative;
}

header.header .right-header ul.ul .h-li.active {
  background-color: #71102e;
}

header.header .right-header ul.ul .h-li.active a.links {
  font-weight: 900;
}

header.header .right-header ul.ul .h-li:hover {
  background-color: #71102e;
}

header.header .right-header ul.ul .h-li a.links {
  color: #fff;
  font-weight: 730;
}

header.header .right-header ul.ul .h-li ul.drop-down {
  min-width: 50%;
  min-height: 300px;
  position: fixed;
  top: 70px;
  right: 5%;
  margin: 0px auto;
  background: #fafafa;
  background-image: url("../../Assets/bkg/bg-poly-white-1.jpg");
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
  border: none;
}

header.header .right-header ul.ul .h-li ul.drop-down:before {
  display: inline-block !important;
  width: 20px;
  height: 20px;
  left: 239px;
  position: absolute;
  border: none;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 0.8))
  );
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  top: -19px;
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  z-index: 11;
}

.underlay225 {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100px;
}

#invest-header {
  position: relative;
  top: 50px;
  display: flex;
  background-color: #fff;
  width: 90%;
  margin: auto;
  height: 500px;
}

#invest-header .invest-word {
  position: relative;
  top: 50px;
  width: 80%;
  padding-left: 20px;
  line-height: 1.2;
}

#invest-header .invest-word h1 {
  font-size: 2.5em;
  color: #4a4a4a;
  font-family: "Sriracha", cursive;
}

#category-section {
  position: relative;
  top: 50px;
  background-color: #a5a5a5;
  width: 100% !important;
  height: 200px;
}

#category-section .loans-category,
.savings-category,
.investment-category {
  float: left;
  width: 33.3%;
  height: 200px;
  background-color: #dddddd;
  /* padding-bottom: 200px; */
}

#category-section h2 {
  position: relative;
  margin-top: 0;
  text-align: center;
  color: #fff;
  background-color: #ff4500;
  line-height: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

#category-section .loans-category h2 {
  background-color: #4a4a4a;
}
#category-section .loans-category p {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.7vw;
  color: #4a4a4a;
}

#category-section .investment-category h2 {
  background-color: #ff4500;
}
#category-section .investment-category p {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.5vw;
  color: #ff4500;
}

#category-section .savings-category h2 {
  background-color: #4a4a4a;
}
#category-section .savings-category p {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 1.55vw;
  color: #4a4a4a;
}

#create-section {
  position: relative;
  top: 30px;
  height: 220px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
}

.nemento {
  position: relative;
  top: 55px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 40px 0; */
  /* background-color: #fff; */
  color: rgb(65, 65, 65) !important;
}

.nemento h3 {
  text-align: center;
  position: relative;
  /* top: -40px; */
  margin-bottom: 30px;
  font-size: 2rem;
}

.nemento .imgbxapp {
  width: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nemento .imgbxapp img {
  width: 140px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nemento .imgbxapp img:hover {
  margin: 0 10px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#invest-detail {
  position: relative;
  top: 100px;
  background-color: rgb(255, 255, 255);

  padding: 15px;
}
#invest-detail .overall-invest-detail {
  display: flex;
  padding-top: 25px;
  border: 2px solid #e0e1e2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#invest-detail .main-invest-detail {
  position: relative;
  width: 70%;
  /* background-color: cadetblue; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42857143;
  color: #333;
  width: 70%;
  margin: auto;
}

#invest-detail .main-invest-detail .invest-detail-intro {
  position: relative;
  width: 94%;
  margin: auto;
}
#invest-detail .main-invest-detail .invest-detail-intro p {
  width: 98%;
  margin: auto;
}

#invest-detail .main-invest-detail .invest-detail-intersect {
  position: relative;
  left: 30px;
  margin: 50px 0px;
  background-color: #e0e1e2;
  width: 93%;
  line-height: 3.5em;
  padding-left: 40px;
  border-left: 5px solid #ff4500;
}

#invest-detail .main-invest-detail .invest-detail-final {
  position: relative;
  height: 250px;
  /* background-color: darkseagreen; */
  /* width: 100%; */
}

#invest-detail .main-invest-detail .invest-detail-final .guarante-final {
  /* background-color: darkmagenta; */
  width: 47%;
  float: left;
  margin-right: 20px;
  margin-left: 30px;
}
#invest-detail .main-invest-detail .invest-detail-final .guarante-final p {
  margin-left: 0px;
}
#invest-detail .main-invest-detail .invest-detail-final .mission-final {
  /* background-color: darkorange; */
  width: 45%;
  float: left;
  margin-left: 20px;
}
#invest-detail .main-invest-detail .invest-detail-final .mission-final p {
  margin-left: 0px;
}

#invest-detail .contact-final {
  position: relative;
  top: 20px;
  right: 40px;
  height: 250px;
  background-color: rgb(6, 211, 211);
  width: 20%;
  border-radius: 5px;
}
#invest-detail .contact-final h2,
p {
  width: 80%;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#invest-detail .contact-final h2 {
  font-size: 1.1em;
  margin-top: 40px;
}

#invest-detail .contact-final p {
  line-height: 1.7em;
  margin-top: 20px;
}
#invest-detail .contact-final a {
  background-color: #fff;
  position: relative;
  top: 30px;
  left: 30px;
  padding: 15px 50px 15px 15px;
  font-size: 0.99em;
  font-weight: 700;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #4a4b4b;
  border-radius: 3px;
  transition: 0.3s ease;
}
#invest-detail .contact-final a:hover {
  color: #ff4500;
  background-color: #4a4b4b;
}

#invest-detail .contact-final a i {
  font-size: 25px;
  position: relative;
  top: 2px;
  padding-right: 5px;
}

#footers {
  position: relative;
  width: 100%;
  top: 160px;
  background: url("../../Assets/images/imagestt.png") center no-repeat;
  background-size: cover;
  z-index: 199;
  /* top: 100px; */
}

#footers .main-footer {
  position: relative;
  top: 50px;
  background-color: #f3f0f0;
  width: 100%;
}

#footers .main-footer .top-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: auto;
  margin: 5px auto;
  padding: 10px 20px;
}

#footers .main-footer .top-footer .topex-- {
  width: 32%;
  position: relative;
  bottom: 20px;
}

#footers .main-footer .top-footer .about-footer h4 {
  color: #71102e !important;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.8em !important;
  font-weight: 900 !important;
  font-family: cursive !important;
  letter-spacing: 0px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#footers .main-footer .top-footer .about-footer h4 span {
  position: relative;
  left: 0px;
  top: 10px;
}

#footers .main-footer .top-footer .about-footer p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
  top: -30px;
  width: 95%;
}

#footers .main-footer .top-footer .asc91 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  padding: 0 20px;
  top: 5px;
}

#footers .main-footer .top-footer .asc91 .col-foot {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.foot-title {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.col-ul {
  padding: 0px;
  list-style-type: none;
  width: 100%;
}

.col-ul li {
  margin: 5px 0px;
}

.col-ul li a {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  color: #4c4c4c;
  padding: 8px 0;
}

.col-ul li a:hover {
  color: orangered;
}

#footers .main-footer .top-footer .follow-appi .apptop .imgbxapp {
  width: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 60px;
  left: 30px;
}

#footers .main-footer .top-footer .follow-appi .apptop .imgbxapp img {
  width: 37%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#footers .main-footer .top-footer .follow-appi .apptop .imgbxapp img:hover {
  margin: 0 10px;
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#footers .main-footer .top-footer .follow-appi .follow-btns .follow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 80px;
  left: 13px;
}

#footers .main-footer .top-footer .follow-appi .follow-btns .follow a {
  margin: 5px 20px;
  text-decoration: none;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  border-top: none;
  border-bottom: none;
}

#footers .main-footer .top-footer .follow-appi .follow-btns .follow a:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0 solid rgba(0, 0, 0, 0.476);
  box-shadow: 0 0 5px 0 solid rgba(0, 0, 0, 0.476);
  -webkit-transform: scale(1.06527, 1.06527);
  transform: scale(1.06527, 1.06527);
  border: 0px solid transparent;
}

#footers .main-footer .top-footer .follow-appi .follow-btns .follow .instagram {
  color: red;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#footers
  .main-footer
  .top-footer
  .follow-appi
  .follow-btns
  .follow
  .instagram:hover {
  background: url(../../Assets/insta-bg.gif) center no-repeat;
  background-size: cover;
  color: #fff;
}

#footers .main-footer .top-footer .follow-appi .follow-btns .follow .twitter {
  color: #0084ff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#footers
  .main-footer
  .top-footer
  .follow-appi
  .follow-btns
  .follow
  .twitter:hover {
  background: #0084ff;
  color: #fff;
}

#footers .main-footer .top-footer .follow-appi .follow-btns .follow .facebook {
  color: #0059ff;
  padding-left: 14px;
  padding-right: 14px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#footers
  .main-footer
  .top-footer
  .follow-appi
  .follow-btns
  .follow
  .facebook:hover {
  background: #0059ff;
  color: #fff;
}

#footers .main-footer .top-footer .follow-appi .follow-btns .follow .whatsapp {
  color: #00ff0d;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#footers
  .main-footer
  .top-footer
  .follow-appi
  .follow-btns
  .follow
  .whatsapp:hover {
  background: #00ff0d;
  color: #fff;
}

#footers .main-footer .bottom-footer {
  width: 100%;
  background: #d7d7d7;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

#footers .main-footer .bottom-footer .text {
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.servdis {
  position: absolute;
  /* top: 100%; */
  min-width: 450px;
  min-height: 300px;
  /* background-color: blue; */
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.servdis .the-wrapset {
  position: absolute;
  margin-top: 12px;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #d5d5d5;
  padding: 15px 30px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}
.servdis .the-wrapset:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(255, 255, 255, 0.56);
}
.head-mod {
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 0;
  /* border-right: 1px solid #d5d5d5; */
}
.head-mod .title {
  font-size: 22px;
  color: #ff4500;
  margin-bottom: 5px;
  font-family: "Sriracha", cursive;
}
.head-mod .lintk {
  list-style: none;
}
.head-mod .lintk .licnt {
  margin: 20px 0;
}
.head-mod .lintk .licnt .lank {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1.6em;
  transition: 0.4s ease;
}
.head-mod .lintk .licnt .lank:hover {
  color: #ff4500;
}

.h-li:hover .servdis {
  display: block;
}
